page-results {

}

.segment-ios .segment-button.segment-activated {
  background-color: #e7b7ff;
  border-color: #e7b7ff;
}

.segment-ios .segment-button {
  border-color: #e7b7ff;
  color: #e7b7ff;
}
